/* Main Container */
.p3-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width : 1300px;
    left : 100px;
    z-index: -1;

  }

  /* Main Content */
  .p3-main-content {
    flex-grow: 1;
    margin-left: 350px;
    padding: 1rem;
    overflow-y: auto;
  }
  
  /* Hex Data Viewer */
  .p3-content {
    font-family: "Courier New", monospace;
    font-size: 1rem;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    overflow-wrap: break-word;
    max-height: 65vh;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  
  /* Download Button */
  .p3-download-btn {
    display: block;
    width: 100%;
    background-color: #004d99;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .p3-download-btn:hover {
    background-color: #003366;
  }
  
  .p3-download-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Error Message */
