@import "tailwindcss";
:root {
    --primary-color: #007bff;
    --hover-color: #0056b3;
    --white-color: #fff;
    --text-color: #333;
    --light-grey: #f5f5f5;
  }
  
  #root{
    padding: 0;
  }