/* Sidebar Styles */
.sidebar {
    position: fixed; /* Fix it to the leftmost side of the viewport */
    left: 0; 
    top: 4rem; /* Adjust for the fixed navbar */
    height: calc(100vh - 4rem); /* Full height minus navbar height */
    width: 400px; /* Set a fixed width */
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    /* padding: 0.9rem; */
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Ensure it appears above other elements */
  }
  
  .sidebar h3 {
    color: #004d99;
    margin-bottom: 1rem;
    margin-left: 0.1rem;
    font-size: 3rem;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 4rem;
    
  }
  
  .sidebar li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.5rem; /* Add padding for better visibility */
    border-radius: 4px; /* Add rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover or active state */
  }
  
  .sidebar li.active {
    background-color: #004d99; /* Highlight background color */
    color: #fff; /* Highlight text color */
    font-weight: bold;
  }